<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{%if hello%}
<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Contact</th>
    </thead>
    {%for student in hello%}
    <tr>
        <td>{{student.IDs}}</td>
        <td>{{student.Name}}</td>
        <td>{{student.Contact}}</td>
    </tr>
    {%endfor%}
</table>
{%else%}
<p>No student found </p>
{%endif%}

    
</body>
</html>